*/1 * * * * run-parts --report --exit-on-error --verbose --regex '.*.sh$' /opt/galaxy/cron.d/cron.minute > /var/log/cron.log 2>&1
0 */1 * * * run-parts --report --exit-on-error --verbose --regex '.*.sh$' /opt/galaxy/cron.d/cron.hourly > /var/log/cron.log 2>&1
0 2 */1 * * run-parts --report --exit-on-error --verbose --regex '.*.sh$' /opt/galaxy/cron.d/cron.daily > //var/log/cron.log 2>&1
@reboot run-parts --report --exit-on-error --verbose --regex '.*.sh$' /opt/galaxy/cron.d/cron.once > /var/log/cron.log 2>&1
